.size-section {
    display: flex;
    gap: 24px;
    flex-direction: column;

    .section-title {
        display: flex;
        justify-content: start;
        font-weight: bold;
        margin-bottom: 12px;
    }
}